*

!.gitignore
!nix/
!brand/
!nix/*.nix
!docs/
!docs/*.md
!*.md

!src/
!src/fonts/*.zig
!src/gpu/

!rust-piston-bindings/
!rust-piston-bindings/*.rs
!rust-piston-bindings/*

!libs/

!*.zig
!*.nix

!flake.lock
!build.zig.zon
!build.zig.zon.nix